@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800);
body {
  font-family: 'Nokia Pure Text', 'Open Sans', Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, serif;
  font-weight: 800;
}

@font-face {    font-family: "Nokia Pure Text";        src: url("http://voxoz.com/font/nokiapuretextlight-webfont.eot?v=3"); /* IE9 */        src: url("http://voxoz.com/font/nokiapuretextlight-webfont.eot?v=3") format("eot"), /* IE6-IE8 */             url("http://voxoz.com/font/nokiapuretextlight-webfont.woff?v=3") format("truetype"), /* Mordern browsers */             url("http://voxoz.com/font/nokiapuretextlight-webfont.ttf?v=3") format("truetype"); /* Safari, Android, iOS */    font-weight: 200;    font-style: normal;}
